<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/user" class="navbar-link">
                    <span class="glyphicon glyphicon-left">
                    </span>
            </a>
            <a class="navbar-brand" href="#/user">
                Back
            </a>
            <p class="navbar-text pull-right">

            </p>
        </div>
    </div>
</nav>


<div class="container">
    <h1>Favorate Movie</h1>
    <ul ng-repeat="user in users">
        <li>
            <a href="#/user/info/{{user._id}}">{{user.username}}</a>
        </li>



    </ul>
</div>