<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-left">
                    </span>
            </a>
            <a class="navbar-brand" href="#/profile">
                Back
            </a>
            <p class="navbar-text pull-right">

            </p>
        </div>
    </div>
</nav>


<div class="container">
    <h1>Friends</h1>
    <a class="btn btn-primary btn-block" ng-click="model.getFriends()">Friends</a>
    <a class="btn btn-primary btn-block" ng-click="model.getFavorate()">My Favorate Movie</a>
    <ul class="list-group">
        <li ng-repeat="friend in model.friends" class="list-group-item">

            <a href="#/user/{{friend.uid}}" >{{friend.username}}</a>

            <a ng-click="model.deleteFriend(friend._id)" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </ul>

    <a class="btn btn-primary btn-block" ng-click="model.toSearch()">OK</a>
    <a class="btn btn-primary btn-block" ng-click="model.UpdateUser(model.user.username, model.user.password,model.user.firstName, model.user.lastName)">Update Profile</a>
    <a class="btn btn-danger btn-block" ng-click="model.logout()">Logout</a>
</div>

