<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/user" class="navbar-link">
                    <span class="glyphicon glyphicon-left">
                    </span>
            </a>
            <a class="navbar-brand" href="#/user">
                Back
            </a>
            <p class="navbar-text pull-right">

            </p>
        </div>
    </div>
</nav>


<div class="container">
    <h1>Profile</h1>
    <a class="btn btn-primary btn-block" ng-click="model.getFriends()">Friends</a>
    <a class="btn btn-primary btn-block" ng-click="model.getFavorate()">My Favorate Movie</a>



</div>

