







<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="bar-header">
            <p class="navbar-text pull-left">
                <a ng-if="currentUser && model.pid"  href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wwid}}"
                   class="navbar-link">  <span class="glyphicon glyphicon-chevron-left"></a>
                <a ng-if="currentUser && !model.pid" href="#/user/" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></a>
                <a ng-if="!currentUser" href="#/login"  class="navbar-link"> <span class="glyphicon glyphicon-chevron-left"></a>


            </p>
            <a class="navbar-brand" >
                User Information
            </a>
        </div>
    </div>
</nav>


<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center user-image-back">
                <img src="assets/img/find_user.png" class="img-responsive" />

            </li>


            <li>
                <a href="index.html"><i class="fa fa-desktop "></i>username:{{model.user.username}}</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-table "></i>firstname:{{model.user.firstName}} </a>
            <li>
                <a href="#"><i class="fa fa-table "></i>lastname:{{model.user.lastName}}</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table "></i> Email:{{model.user.email}}</a>
            </li>



        </ul>

    </div>

</nav>
